body {
    font-size: 18px;
}

h1 {
    border-bottom: solid 1px #dec027; 
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.editor-pane {
    width: 100%;
    height: 250px;
    border: solid 1px black;
}

.run-btn  {
    display: block;
}

.output-area {
    width: 100%;
    height: 175px;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: scroll;
    border-color: #D3D3D3;
    border-width: 1px;
    border-style: solid;
}

.output-line {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.output-label {
    font-weight: bold;
}

.output-pass {
    background-color: rgb(234, 252, 223)
}

.output-fail {
    background-color: #fcd3d2;
}

.output-error {
    background-color: #fcd3d2;
}

.indicator {
    margin-right: 6px;
    font-size: 18px;
}

.pass-indicator {
    color: green;
}

.fail-indicator {
    color: red;
}

.no-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.sidebar {
    border-right: 1px solid #D3D3D3;
}

.lesson-container {
    margin-left: 0px;
    max-width: 800px;
    margin-bottom: 40px;
}